<div
  id="step-sched-task"
  [@animate]="{ value: '*', params: { y: '100%' } }"
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  fxFlex="100"
>
  <div style="display: block;" class="control-section">
    <ejs-grid
      fusePerfectScrollbar
      (actionBegin)="actionHandler($event)"
      #ataGrid
      height="600"
      [dataSource]="data"
      [allowGrouping]="true"
      [groupSettings]="groupSettings"
      [selectionSettings]="selectionOptions"
      [toolbar]="toolbar"
      (load)="load()"
      (dataBound)="dataBound()"
      (toolbarClick)="toolbarClickHandler($event)"
    >
      <e-columns>
        <e-column
          field="taskEntityStatus"
          headerText="Status Entity"
          width="45"
        ></e-column>
        <e-column
          field="id"
          headerText="Task ID"
          width="20"
          isPrimaryKey="true"
        ></e-column>
        <e-column
          field="sequence"
          headerText="Task Sequence"
          width="30"
        ></e-column>
        <e-column
          field="taskAsset"
          headerText="Assigned Asset"
          width="60"
        ></e-column>
        <e-column
          field="taskTrigger"
          headerText="Assigned Trigger"
          width="60"
        ></e-column>
        <e-column field="taskName" headerText="Task Name" width="60"></e-column>
        <e-column
          field="taskFormattedDuration"
          headerText="Task Duration"
          width="60"
        ></e-column>
        <e-column
          field="actionStatus"
          headerText="Task Status"
          width="60"
        ></e-column>
        <e-column
          field="outcome"
          headerText="Task Outcome"
          width="60"
        ></e-column>
        <!-- <e-column
          field="taskName"
          headerText="Task Name"
          width="130"
          format="yMd"ta
          editType="datepickeredit"
          textAlign="Right"
        ></e-column> -->
      </e-columns>
      <!-- <e-aggregates>
        <e-aggregate>
          <e-columns>
            <e-column type="Sum" field="Freight" format="C2">
              <ng-template #footerTemplate let-data
                >Sum: {{ data.Sum }}</ng-template
              >
            </e-column>
          </e-columns>
        </e-aggregate>
        <e-aggregate>
          <e-columns>
            <e-column type="Sum" field="Freight" format="C2">
              <ng-template #groupFooterTemplate let-data
                >Sum: {{ data.Sum }}</ng-template
              >
            </e-column>
          </e-columns>
        </e-aggregate>
        <e-aggregate>
          <e-columns>
            <e-column type="Average" field="Freight" format="C2">
              <ng-template #groupCaptionTemplate let-data
                >Average: {{ data.Average }}</ng-template
              >
            </e-column>
          </e-columns>
        </e-aggregate>
      </e-aggregates> -->
    </ejs-grid>
  </div>
</div>
