<div
  id="step-trig-action"
  [@animate]="{ value: '*', params: { y: '100%' } }"
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  fxFlex="100"
>
  <div fxLayout="column" fxFlex="30">
    <h2>Triggers</h2>
    <h3>Details</h3>
    <form [formGroup]="trigFormGroup">
      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" [floatLabel]="'always'" fxFlex>
          <mat-label>Generation Triggers</mat-label>
          <mat-select formControlName="triggerSelection">
            <mat-option
              *ngFor="let trigger of triggerList; trackBy: trackById"
              [value]="trigger"
            >
              Trigger For: {{ trigger.milestone }}
            </mat-option>
            <mat-option [value]="'new'">Add New Trigger</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Trigger Milestone</mat-label>
          <input
            name="milestone"
            [errorStateMatcher]="formErrMatcher"
            formControlName="milestone"
            matInput
          />
          <mat-error *ngIf="trigFormGroup.get('milestone')?.errors?.required">
            A milestone is required.
          </mat-error>
          <mat-error *ngIf="trigFormGroup.errors?.duplicateTriggerMiles">
            Milestone already exists for generation
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <ejs-datetimepicker
          fxFlex
          floatLabelType="Auto"
          [min]="minDate"
          matInput
          name="triggerStart"
          formControlName="triggerStart"
          placeholder="Trigger Start"
        >
        </ejs-datetimepicker>
      </div>
      <div
        mat-dialog-actions
        class="m-0 p-16"
        fxLayout="row"
        fxLayoutAlign="end center"
      >
        <button
          *ngIf="!isNewForm"
          mat-stroked-button
          color="warn"
          class="mr-8"
          (click)="deleteTrigger()"
          aria-label="Delete"
          matTooltip="Delete"
        >
          DELETE
        </button>

        <button
          *ngIf="!isNewForm"
          mat-stroked-button
          color="accent"
          class="save-button"
          (click)="updateTrigger()"
          [disabled]="trigFormGroup.invalid || trigFormGroup.pristine"
          aria-label="SAVE"
        >
          UPDATE
        </button>
        <button
          *ngIf="isNewForm"
          mat-stroked-button
          color="accent"
          class="save-button"
          (click)="addNewTrigger()"
          [disabled]="trigFormGroup.invalid"
          aria-label="SAVE"
        >
          ADD
        </button>
      </div>
    </form>
  </div>
  <div fxLayout="column" fxFlex="65">
    <h2>Action Items</h2>
    <div fxLayout="row" fxLayoutAlign="space-around stretch">
      <div class="action-item-container">
        <h3>All Actions</h3>

        <div
          cdkDropList
          [cdkDropListDisabled]="trigFormGroup.invalid"
          fusePrefectScroll
          #unassignedActionItemList="cdkDropList"
          [cdkDropListData]="unassignedActions"
          cdkDropListSortingDisabled
          [cdkDropListConnectedTo]="[assignedTrigActionList]"
          class="action-items-list"
          (cdkDropListDropped)="droppedOnActionItem($event)"
          matRipple
        >
          <div
            class="action-item-box"
            *ngFor="let actionItem of unassignedActions; trackBy: trackById"
            [cdkDragData]="actionItem"
            cdkDrag
          >
            <div fxLayout="row" fxFlex="45">
              Action: {{ actionItem.action }}
            </div>
            <div fxLayout="row" fxFlex="45">
              Est Duration:
              {{ actionItem.duration }} mins
            </div>
            <div class="example-handle" cdkDragHandle>
              <svg width="14px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                ></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <div class="action-item-container">
        <h3>Assigned</h3>

        <div
          cdkDropList
          [cdkDropListDisabled]="trigFormGroup.invalid"
          fusePrefectScroll
          #assignedTrigActionList="cdkDropList"
          [cdkDropListData]="assignedTrigActions"
          [cdkDropListConnectedTo]="[unassignedActionItemList]"
          class="action-items-list"
          (cdkDropListDropped)="droppedOnTrigAction($event)"
        >
          <div
            class="action-item-box"
            [cdkDragData]="trigAction"
            *ngFor="
              let trigAction of assignedTrigActions;
              index as i;
              trackBy: trackById
            "
            cdkDrag
          >
            Action Sequence: {{ trigAction.sequence }} | Action Duration:
            {{ trigAction.actionItem.duration }}
            <br />
            Cummlative Run Time:
            {{ calculateCummRunTime(i) | minFormat }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
